* {
    margin: 0;
    color: #353535;
}

html, body {
    background-color: #F5F5F5;
}

/* CSS FOR HOVERING */
.side-button, .task:hover {
    cursor: pointer;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.side-navbar {
    width: 20%;
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    width: 80%;
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
}

.side-button {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 10px 0;
    transition: background-color 0.3s;
  
    position:relative;
}

.left-content {
    display: flex;
    align-items: center;
}

/* Align "Project History" at the bottom of navbar */
#project-history {
    margin-top: 80%; /* Pushes the button to the bottom */
}

/* Icon Styling */
.icon {
    font-size: 2em;
    margin-right: 10px;
}

/* Side Button Text Styling */
.side-button-text {
    font-size: 1.5em;
}

.shortcut {
    font-size: 1em;
    color: #353535;
    margin-left: auto; /* Push shortcut to the right */
}

.side-button:hover {
    background-color: blue;
}

/* Dropdown Styling */
.dropdown-content {
    display: none; /* Initially hidden */
    width: 100%; /* Match width of the sidebar */
    background-color: #9f9f9f;
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin-top: -5px;
}

.project {
    padding: 10px 20px;
    cursor: pointer;
}

.project:hover {
    background-color: #e6c76b; /* Hover effect */
}


/* Main Content */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Header Container */
.header-container {
    display: flex;
    padding: 20px;
    background-color: #e7e7e7;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.welcome {
    flex-grow: 1;
    margin-top: 1.5vh;
    margin-left: 2%;
}

.welcome h1 {
    font-size: 2.5em;
}

.welcome #date {
    font-size: 1.5em;
    margin-top: 0vh;
}

.account {
    width: 7.5%;
    border-radius: 15em;
    margin-right: 2%;
    margin-top: 1.25%;
    background-color: #F2D87B;
    text-align: center;
    font-size: 2.5em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilePicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.account:hover {
    cursor: pointer;
}

/* Todo Container */
.todo {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    background: linear-gradient(to bottom, #e7e7e7, #696969); /* Light grey to dark grey gradient */
}

/* Todo Tasks and Details */
.todo-tasks, .detailed-task {
    flex: 1;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Todo Header */
#todo-header {
    height: 12.5%;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

#todo-header h1 {
    font-size: 2em;
    font-weight: 700;
    flex-grow: 1;
}

#todo-history-button {
    width: 3vw;
    margin-right: 5%;
}

/* Tasks */
.tasks {
    max-height: 87.5%;
    overflow-y: auto;
}

.task {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 1vh;
}

.todo-task-importance {
    padding: 5%;
}

.todo-task-importance-inner {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: red;
}

.todo-task-title {
    font-size: 1.75em;
    flex-grow: 1;
    padding: 3%;
}

.todo-task-date {
    width: 20%;
    font-size: 1.5em;
    padding: 3.5%;
}

.see-more-tasks {
    text-decoration: underline;
    text-align: center;
}

/* Detailed Task */
#detailed-task * {
    text-align: center;
}

#detailed-task-title {
    padding-top: 10%;
    font-size: 3em;
    font-weight: 600;
}

#detailed-task-description,
#detailed-task-due,
#detailed-task-status,
#detailed-task-assigner {
    font-size: 1.5em;
}

#detailed-task-status span {
    color: blue;
}

.detailed-task-complete {
    background: grey;
    font-size: 1.5em;
    padding: 0.5em;
    width: 50%;
    border-radius: 10em;
    text-align: center;
    margin-top: 1em;
}

.detailed-task-complete:hover {
    cursor: pointer;
}


/* Popup Overlay */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Popup Content */
#project-popup {
    position: absolute;
    display: block;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    z-index: 1000;
}

/* Close Button for Popup */
.close-button {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
}

